# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
JWT_SECRET ='something-secret-that-will-never-be-guessed'
JWT_ALGO='RS256'

# Mongo DB
# Local development
MONGODB_URI=mongodb://localhost:27017/foodie;

# Port
PORT=3000

# Debug
LOG_LEVEL='debug'


#cryptr
CRYPTR_CODE=my-longest-secret

#payment gateway
PAYSTACK=paystack-key

#aws
AWS_SECRET_KEY=aws-secret-key
AWS_ACCESS_KEY=aws-access-key

